bin
debug
*.suo
.vs
packages
*.user
obj
*.pfx
AppPackages
BundleArtifacts
/LiveWallpaper.App/Package.StoreAssociation.xml
/LiveWallpaper.App/_pkginfo.txt
/LiveWallpaperEngineRender/lib/mpv-1.dll
/LiveWallpaperEngineRender/lib/mpv-1-x64.dll
