/src/giantapp-wallpaper-client/Client/Assets/UI
/src/giantapp-wallpaper-client/Client/Assets/Player
/src/build/publish
/src/build/dist
/src/giantapp-wallpaper-ui/.env
/src/giantapp-wallpaper-client/WallpaperCore/Assets/Players/
