[submodule "LiveWallpaper/Assets/livewallpaper_i18n"]
	path = LiveWallpaper/Assets/livewallpaper_i18n
	url = https://github.com/giant-app/livewallpaper_i18n.git
	branch = master
[submodule "livewallpaper-client-ui/livewallpaper_i18n"]
	path = livewallpaper-client-ui/livewallpaper_i18n
	url = https://github.com/giant-app/livewallpaper_i18n.git
	branch = master
