<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="logFile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/LiveWallpaper/logs/log.txt" />
    <target name="errorFile" xsi:type="File" fileName="${specialfolder:folder=ApplicationData}/LiveWallpaper/logs/error.txt" />
    <!--<target name="logconsole" xsi:type="Console" />-->
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
    <logger name="*" minlevel="Trace" writeTo="logFile" />
    <logger name="*" minlevel="Error" writeTo="errorFile" />
  </rules>
</nlog>
