<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net471" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net471" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net471" />
  <package id="Dragablz" version="0.0.3.203" targetFramework="net471" />
  <package id="DZY.DotNetUtil" version="1.0.30" targetFramework="net471" />
  <package id="DZY.DotNetUtil.UI" version="1.0.0.56" targetFramework="net471" />
  <package id="DZY.WinAPI" version="1.0.46" targetFramework="net472" />
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net471" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net471" />
  <package id="JsonConfiger" version="1.0.0.54" targetFramework="net472" />
  <package id="LiveWallpaperEngine" version="1.0.2" targetFramework="net472" />
  <package id="LiveWallpaperEngineRender" version="1.0.0.7" targetFramework="net472" />
  <package id="LoadingIndicators.WPF" version="0.0.1" targetFramework="net471" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net471" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net471" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net471" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net471" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.12" targetFramework="net471" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net471" />
  <package id="Mpv.NET" version="1.0.0" targetFramework="net472" />
  <package id="MultiLanguageForXAML" version="1.0.0.18" targetFramework="net471" />
  <package id="Mvvm.Base" version="1.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="NLog" version="4.5.11" targetFramework="net471" />
  <package id="NLog.Config" version="4.5.11" targetFramework="net471" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net471" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="UwpDesktop" version="10.0.14393.3" targetFramework="net471" />
</packages>