<?xml version="1.0" encoding="utf-8"?>
<Package 
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" 
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" 
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  IgnorableNamespaces="uap mp rescap com desktop">
  <Identity Name="24765mscoder.107453A6A4A17" Publisher="CN=49BC8659-1B4C-4520-B1FB-ED98CFA366C4" Version="2.5.12.0" />
  <Properties>
    <DisplayName>ms-resource:Resources/PackageDisplayName</DisplayName>
    <PublisherDisplayName>Giantapp Studio</PublisherDisplayName>
    <Logo>images\Store\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
    <!--<PackageDependency Name="Microsoft.VCLibs.140.00.UWPDesktop" MinVersion="14.0.24217.0" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" />-->
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
      <uap:VisualElements DisplayName="ms-resource:Resources/ApplicationDisplayName" Description="ms-resource:Resources/ApplicationDescription" BackgroundColor="transparent" Square150x150Logo="images\Medium\Medium150x150Logo.png" Square44x44Logo="images\AppList\AppList.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide\Wide310x150Logo.png" Square71x71Logo="images\Small\Small71x71Logo.png" Square310x310Logo="images\Large\Large310x310Logo.png">
        </uap:DefaultTile>
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension Category="windows.startupTask" Executable="LiveWallpaper.Shell\LiveWallpaper2.exe" EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask TaskId="LiveWallpaper2" Enabled="true" DisplayName="LiveWallpaper2" />
        </uap5:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="livewallpaper">
            <uap:DisplayName>livewallpaper</uap:DisplayName>
            <uap:Logo>Images\logo.png</uap:Logo>
          </uap:Protocol>
        </uap:Extension>
        
        <!--Specify which CLSID to activate when toast clicked-->
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="dec74eb7-0834-4c07-9656-e510e7d71f7a" />
        </desktop:Extension>

        <!--Register COM CLSID LocalServer32 registry key-->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="LiveWallpaper.Shell\LiveWallpaper2.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
              <com:Class Id="dec74eb7-0834-4c07-9656-e510e7d71f7a" DisplayName="Toast activator"/>
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="videosLibrary" />
	<rescap:Capability Name="runFullTrust" />
	  <!--允许管理员权限--><!--
	  <rescap:Capability Name="allowElevation" />-->
  </Capabilities>
</Package>